* {
  
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    text-decoration:none;
    font-family:Arial, Helvetica, sans-serif
}

#mid {
    width: 110vh;
    height: 120vh;
    background-color: rgb(0, 0, 0);
   
    text-align: center;
    margin: auto;
    font-size: 70px;
  }
  header {
    
    
   
    
    
    
    min-height: 40px;
    background-color: rgb(211, 106, 35);
    position: sticky;
    top:0
    
    
  }
  nav {
    
    width: 100%;
  
   
    
  }

  
  nav > a {
    font-size: 2.4vw;
    margin-bottom:auto;
    color:white ;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
    
  }
  .more {
    display: none;
  }


  .s {
    

    cursor: pointer;
  }
  


  .form-popup img{
   
    margin-top:-20px;
  }
  footer {
    height: 80px;
    background-color: #181818;
  }

  img {
    max-width: 60%;
    height: auto;
  }
  @media only screen and (max-width: 1245px) {
    nav > a {
      display:none;
    }
    nav {
    
     text-align: center;
    
     
      
    }
    .more {
      float: left;
      display:block;
      
    }
    #m {
      height: 5.5vh;
      max-width: 20vw;
      
    }
    #s {
      
      height:17.5vh;
      width: 10vw;
      color: transparent; 
      background-color: transparent; 
      border-color: transparent; 
    }
   

  }
  @media only screen and (max-width: 889px) {
    #mid {
      width: 100%;
      height: 120vh;
      font-size:7.5vw;
      
      
    }
    
  }
  
    
  